[Unit]
Description=Auth Http Proxy
After=network.target

[Service]
User=auth-http-proxy
Group=auth-http-proxy
LimitNOFILE=4096
LimitNPROC=4096
ExecStart=/opt/auth_http_proxy/bin/auth_http_proxy_server -config /etc/auth_http_proxy/config.json -logtostderr -v=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
